.mainAddButton {
  padding: 10px;
  margin: 20px;
  margin-left: 60px;
  background-color: #d1411e;
  width: 150px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
}

.mainAddButton:hover {
  background-color: white;
  color: #d1411e;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(12, 11, 11, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close {
  /* font-weight:700; */
  font-size: 18px;
  width: 35px;
  height: 30px;
  /* background-color: white; */
  color: black;
  /* border: 1px solid black;
  border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  transition: all .2s ease-in-out;
}

.close:hover{
  background-color: black;
  color: white
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 25%;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraItemsAdd {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.extraItemsEdit {
  margin-bottom: 20px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  border: 1px solid tomato;
  background-color: white;
  color: tomato;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.addButton {
  width: 25%;
  border: 0.5px dashed black;
  background-color: teal;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 0;
  margin-bottom: 15px;
  align-self: flex-end;
  border-radius: 5%;
  transition: all 0.1s ease-in-out;
}

.addButton:hover {
  background-color: white;
  color: teal;
}

.editMessage {
  padding: 10px 0;
  font-weight: 500;
  color: #d1411e;
}

.logout {
  background-color: rgb(17, 17, 85);
}

.extraButton
 {
 
}