.container {
    /* background-color: #05291a; */
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5), rgb(168, 40, 40));
    height: calc(100vh - 100px);
    overflow: hidden;
    width: 100%;
    z-index: 1000
}

.arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper {
    width: 300vw;
    height: 100%;
    margin-top: 3%;
    display: flex;
    transition: all 1.3s ease-in-out ;
}

.imgContainer {
    position: relative;
    width: 100vw;
    height: 80%;

}


@media screen and (max-width: 480px) {
    .container{
      height: 50vh;
    }

    .imgContainer {
        margin-top: 20px;
        
    }

    .arrowContainer {
        bottom: 15%
    }

    
  }