.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  background-color: #d1411e;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
    flex: 1;
    display: flex;
    align-items: center
}

.item:nth-child(2){
    flex: 3;
}

.item:last-child{
    justify-content: flex-end;
}

.callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.texts {
    margin-left: 20px;
    color: white;
}

.text:first-child {
    font-size: 12px;
    font-weight: 500;
}

.text:last-child{
    font-size: 20px;
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem {
    margin: 20px;
    margin-right: 30px;
    font-weight: 500;
    cursor: pointer;
}

.cart {
    position: relative;
    cursor: pointer
}

.counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #d1411e
}

.logo {
    border-radius: 5px;
}


@media screen and (max-width:480px) {
      .item:nth-child(2) {
      display: none;
    } 
  
 .item:nth-child(1) {
      flex: 3;
    } 
   
  }