.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.right {
  flex: 1;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  color: white;
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  background-color: white;
  height: 30px;
  color: teal;
  font-weight: bold;
  margin-top: 20px;
  cursor: not-allowed;
}
