.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.titleContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.desc {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #444;
  width: 70%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  display: none;
  margin: -50px 0px;
}

.title {
  /* display: none; */
  font-family: inherit;
  font-weight:900;
  font-size: 35px;
  font-weight: lighter;
  color: black;
  text-shadow: 1px 1px rgb(168, 40, 40);
}

.search {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 10rem;
}

.search > input {
  
     padding: 5px 5px 5px 10px;
     border-radius: 10px;
     background-color: whitesmoke;
     color: rgb(168, 40, 40);
     margin-bottom: 15%;
     font-family: inherit;
     /* font-weight: bold; */
     font-size: 13px;
}


.search_icon {
  position: absolute;
  top: 20px;
  right: 8px;
  width: 20px;
  height: 20px;
}



@media screen and (max-width: 376px) {
  .logo {
    display: block;
  }
  .title {
    display: block;
    text-align: center;
    margin-top: -200px;
    margin-bottom: 250px;
  }

  .desc {
    width: 90%;
    text-align: center;
  }
}
